.transactionHistory {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-color: rgb(255 255 255);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.2);
  text-align: center;
  border-collapse: collapse;
}

thead {
  background-color: #00bcd5;
  color: rgb(255 255 255);
}

th,
td {
  border: solid 1px #e6e6e6;
  padding: 10px;
}

th {
  color: #e4f6fa;
}

td {
  color: #8e939c;
}

/* tbody tr:nth-child(odd) {
  background: #fff;
} */

/* tbody tr:nth-child(odd) td {
  background: red;
} */

tbody tr:nth-child(even) {
  background: #ecf1f3;
}
